@import 'branding';

// default ck-editor provided styling
@import 'ck-content';

/* CKEditor styling overrides*/
.ck-content:after{
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

// HL specific styling
.ck-content {

    // Unordered list styling
    ul{ list-style: disc;
        ul{    list-style: circle;
            ul{ list-style: square;
                ul{ list-style: disc;
                    ul{ list-style: circle;
                        ul{ list-style: square; }
                    }
                }
            }
        }
    }

    // Ordered list styling
    ol{ list-style: decimal;
        ol{ list-style: upper-alpha;
            ol{ list-style: lower-alpha;
                ol{ list-style: upper-roman;
                    ol{ list-style: lower-roman; }
                }
            }
        }
    }


    // ********************* DEFAULT TABLE STYLING *********************
    figure.table{

        table{

            tr{
                th{

                    background: #eee;

                }

                td, th{
                    border: 1px solid #ccc;

                }
            }
        }
    }

}




