@import 'branding';

// default ck-editor provided styling
@import 'ck-content';

/* CKEditor styling overrides*/
.ck-content:after{
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}

// HL specific styling
.ck-content {

    // refresh header styles
    h2, h3, h4 {
        color: #646464;
        font-weight: 600;
        line-height: 1.4em;
        text-transform: unset !important;
    }

    h2 { font-size: 1.5em; }
    h3 { font-size: 1.2em; }
    h4 { 
        font-size: 1.2em; 
        font-weight: normal;
        line-height: 1.4em;
    }

    // Unordered list styling
    ul{ 
        list-style: disc;

        ul{ 
            list-style: circle;
            padding-left: 2em;
            margin-bottom: unset !important;

            // nested list styles
            ul{ list-style: square;
                ul{ list-style: disc;
                    ul{ list-style: circle;
                        ul{ list-style: square; }
                    }
                }
            }
        }
    }

    // Ordered list styling
    ol{ 
        list-style: decimal;
        padding-left: 2em;
        margin-bottom: unset !important;

        li { margin-bottom: unset !important; }

        // nested list styles
        ol{ list-style: upper-alpha;
            ol{ list-style: lower-alpha;
                ol{ list-style: upper-roman;
                    ol{ list-style: lower-roman; }
                }
            }
        }
    }


    // ********************* DEFAULT TABLE STYLING *********************
    figure.table{

        table{

            tr{
                th{

                    background: #eee;

                }

                td, th{
                    border: 1px solid #ccc;

                }
            }
        }
    }

}




