@import 'branding';

.ck-content {
    h1,h2,h3,h4,h5,h6{
        font-weight: 600;
        font-family: $default_font;
    }
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.8em;
    }
    h3{
        font-size: 1.4em;
    }
    h4{
        font-size: 1.2em;
    }
    h5{
        font-size: 1em;
    }
    h6{
        font-size: 1em;
    }

    ul, ol{
        margin-left: 2em;
    }

    ul{
        list-style: disc;
    }

    ol{ list-style: decimal;
        ol{ list-style: upper-alpha;
            ol{ list-style: lower-alpha;
                ol{ list-style: upper-roman;
                    ol{ list-style: lower-roman; }
                }
            }
        }
    }

    figure{

        // ********************* IMAGE STYLING *********************
        &.image{

            img{
                height:300px;
            }

            &.image-style-align-right{
                float:right;

                img{
                    height:200px;
                }

            }
            &.image-style-align-left{
                float:left;

                img{
                    height:200px;
                }

            }


        }



        figcaption {
            background: #eee;
            font-style: italic;
            text-align: center;
            padding: 5px;
        }

        // ********************* TABLE STYLING *********************
        &.table{
            table{
                // border-spacing: 1px;
                // border-collapse: unset;
                width: 100%;
                margin: 20px 0;
                border-collapse: collapse;
                font-size: 1em;

                tr{
                    th{
                        // padding: 3px 5px;
                        // margin:1px;
                        // background: $HL_blue;
                        // color: #fff;
                        font-weight: 600;
                        // font-style: italic;
                        //border: 1px solid #ccc;
                        margin: 20px 0;
                        padding: 10px;
                        border: 1px solid #ccc;
                        font-size: 1em;
                    }

                    td{
                        // padding: 3px 5px;
                        // margin:1px;
                        // background: #eee;
                        //border: 1px solid #ccc;

                        margin: 20px 0;
                        padding: 10px;
                        border: 1px solid #ccc;
                        font-size: 1.1em;
                    }
                }
            }
        }

    }

    blockquote {
        margin-left: calc( 2 * var(--ck-spacing-large) );
        margin-right: calc( 2 * var(--ck-spacing-large) );
    }
}
